* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: #f9f9fb;
}

.profile-pic {
    height: 150px;
    width: 150px;
    background-color: #fff;
    border-radius: 20px;
    display: block;
    float: left;
}

.jp {
    font-family: 'MS Gothic', 'HiraKakuProN-W3', 'Hiragino Kaku Gothic Pro', sans-serif;
}

.main-area {
    width: 1200px;
    margin: 50px auto;
    display: block;
}

a {
    color: black;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.name-card {
    margin-top: 5px;
    width: 400px;
    height: 300px;
    background-color: #f4f4f4;
    border-radius: 20px;
    display: block;
    float: left;
}

.name-card:hover {
    box-shadow: 0px 15px 30px -12px black;
    background-color: #f5f5f5;
    transition: 0.3s
}

.name-card .profile-pic {
    margin: 25px;
    margin-bottom: 10px;
}

.name-card .name {
    margin-top: 10px;
    display: block;
    float: left;
    font-size: 72px;
    font-weight: lighter;
    color: black
}

.add {
    font-size: 14px;
    color: gray;
}

.add-n {
    display: block;
    float: left;
    color: gray;
    font-size: 18px;
    font-weight: 300;
    margin-top: -18px;
    margin-left: 24px;
    margin-bottom: 12px;
}


.name-card .mail {
    display: block;
    float: left;

}

.name-card .mail a {
    color: black;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.name-card .introduce {
    margin-left: 25px;
    margin-right: 25px;
    width: 350px;
    display: block;
    float: left;
    font-size: 22px;
}

.text-area {
    width: 100%;
    display: block;
    float: left;
}