a{
    color: black;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.name-card{
    width: 350px;
    height: 265px;
    background-color: #f4f4f4;
    border-radius: 20px;
    display: block;
    float: left;
}
.name-card:hover{
    box-shadow: 0px 15px 30px -12px black;
    background-color: #f5f5f5;
    transition: 0.3s
}
.name-card .profile-pic{
    margin: 20px;
    margin-bottom: 10px;
}
.name-card .name{
    margin-top: 10px;
    display: block;
    float: left;
    font-size: 60px;
    font-weight: lighter;
    color: black
}
.add{
    font-size: 10px;
    color: gray;
}
.add-n{
    display: block;
    float: left;
    color: gray;
    font-size: 14px;
    font-weight: 300;
    margin-top: -16px;
    margin-left: 26px;
    margin-bottom: 12px;
}


.name-card .mail{
    display: block;
    float: left;

}
.name-card .mail a{
    color: black;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.name-card .introduce{
    margin-left: 25px;
    margin-right: 25px;
    width: 350px;
    display: block;
    float: left;
    font-size: 20px;
}
