*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color: #f9f9fb;
}
.profile-pic {
    height: 150px;
    width: 150px;
    background-color: #fff;
    border-radius: 20px;
    display: block;
    float: left;
}
.jp{
    font-family: 'MS Gothic','HiraKakuProN-W3','Hiragino Kaku Gothic Pro',sans-serif;
}